/*navbar*/
.container{
	width: 1200px;
	margin: 0 auto;
	padding: 0; 

}
.section{
	min-height: 100vh;
}

.header-content{
	display: flex;
	justify-content: space-between;
	position: absolute;
	padding: 30px 0 30px;
	gap: 265px;
}
nav ul{
	display: flex;
	justify-content: center;
	font-size: 12px;
	font-family: 'pappins',sans-serif;
	color: #999999;
	gap: 77px;

}
.yellow{
	color: #FFB900;;
}
img{
	color: #9999;
	cursor: pointer;
	margin-top: -11px;
	width: 13px;
	height: 13px;
}
.logo{
	font-family: 'pappins',sans-serif;
	font-size: 25px;
	color: #ffb900;
	font-weight: bolder;
	margin-top: -5px;
}

/*navbar end*/


.flex{
	display: flex;
}
.w-50{
	width: 50%;
}


/*ilustration*/
.ilustration{
	border-radius: 20px;
}
.left{
	position: absolute;
	width: 600px;
	height: 400px;
	left: 0;
	top: 940px;
}
.right{
	position: absolute;
	width: 600px;
	height: 400px;
	right: 0;
	top: 190px;
}
.two{
	top: 2300px;
}
.bottom{
	top: 3900px;
}

/*ilustration*/


.section-meta{
	position: absolute;
	top: 260px;
	font-family: 'pappins',sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 96px;
	
}
.section-title{
	position: absolute;
	top: 360px;
	font-family: 'Nunito', sans-serif;
	color: #9999;
	line-height: 170%;
	font-size: 18px;
}


/*button*/
.button{
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 470px;
	gap: 20px;
}
.btn-cta{
	cursor: pointer;
	color: #ffff;
	background-color:  #FFB900;
	padding: 24px;
    border-radius: 50px;
    font-family: 'pappins',sans-serif;
}
.btn-cta:hover{
	background-color: #FFFF;
	border:1px solid #FFB900 ;
	color: #FFB900;
	transition: all .5s ease 0s;
}
.btn-white{
	cursor: pointer;
	color:  #FFB900 ;
	background-color: #ffff;
	padding: 24px;
	border-radius: 50px;
	font-family: 'pappins',sans-serif;
	border:1px solid #FFB900 ;
}
.btn-white:hover{
	background-color: #FFB900;
	color: #ffff;
	transition:all .5s ease 0s;
}
.learn-btn{
	position: absolute;
	top: 1160px;
}
/*button*/


.section2{
	height: 100vh;
}
.section-meta-compelling{
	position: absolute;
	top: 1000px;
	font-family: 'pappins',sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size:40px;
	line-height: 96px;
}
.on-the-other{
	position: absolute;
	top: 1080px;
	font-family: 'Nunito', sans-serif;
	color: #9999;
	line-height: 170%;
	font-size: 13px;
}
.absolute-box{
	position: absolute;
	top: 1700px;
}
.box{
	text-align: center;
	padding: 0 25px;

}
.box-icon{
	width: 50px;
	height: 50px;
	

}
.box-title{
	font-family: 'pappins',sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
	

}	
.box-description{
	font-family: 'pappins',sans-serif;
	font-size: 15px;
	color: #9999;
	line-height: 25px;
}

.creating-space{
	position: absolute;
	top: 2300px;
	font-family: 'pappins',sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size:44px;
	line-height: 96px;
}
.other-hand{
	position: absolute;
	top: 2390px;
}
.absolute-testi{
	position: absolute;
	top: 2495px;
}
.testi{
	padding: 0 60px 0 0;
}
.testi-title{
	font-family: 'pappins',sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color: #3902a9;
	line-height: 50px;
}
.testi-description{
	font-family: 'pappins',sans-serif;
	font-size: 18px;
	color: #9999;
}
.testi-btn{
	position: absolute;
	top: 2590px;
}
.three-image{
	width: 350px;
	height: 250px;
	border-radius: 10px;

}
.image-flex{
	padding: 0 30px 0 30px;
}
.absolute-img{
	position: absolute;
	display: flex;
	top: 3050px;
	flex-direction:row ;
}
.image-title{
	font-family: 'pappins',sans-serif;
	font-size: 20px;
	font-weight: 500;
	color:  #100607;
	line-height: 42px;

}


/*button-see detaile*/
.btn-detaile{
	font-family:'pappins',sans-serif ;
	font-size: 12px;
	padding: 16px;
	background-color: #FFB900;
	color: #eaeaea;
	border-radius: 50px;
}
.btn-detaile:hover{
	cursor: pointer;
	background-color: #FFFF;
	border:1px solid #FFB900 ;
	color: #FFB900;
	transition: all .6s ease 0s;

}
.plus{
	margin-left: 111px;
}
/*button see detaile*/
.name-absolute{
	position: absolute;
	top: 3710px;
}
.name{
	font-family: 'pappins',sans-serif;
	font-size: 25px;
	font-weight: 500;
	color: #9999;
	padding: 0 0 0 112px;

}
.text-btm{
	position: absolute;
    top:  3910px;
}
.text-border{
	position: absolute;
	top: 4000px;
	border:solid ;
	background-color: #F3F3F3;
	border-radius: 16px;
	border-style: none;
	font-family: 'nunito',sans-serif;
	padding: 40px 50px 120px 20px;
	line-height: 180%;
	color:#999 ;
}
.circle{
	width: 140px;
    height: 140px;
    background: #FFA347;
    border-radius: 100%;
}
.customer{
	position: absolute;
	top: 4145px;
}
.gustavo-culhane{
	font-family: 'pappins',sans-serif;
	font-size: 18px;
	line-height:30px;
	font-weight: 500;
	padding: 0 10px;
}
.gustavo-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}
.bintang{
	position: absolute;
	top: 4175px;
	margin-left: 80px;
	line-height: 1px;
}

.image-offer{
	border-radius: 16px;
	width: 285px;
	height: 180px;
	padding: 25px 59px;	
}
.relative{
	position: relative;
}

.bg-color1{
	background-color :rgba(3,164,193,255);
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.bg-color2{
	background-color: rgba(237,148,114,255);
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.bg-color3{
	background-color:rgba(6,230,248,255);
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.bg-color4{
	background-color: rgba(130,5,170,255);
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.container-relative{
	width: 1200px;
	margin: 0 auto;
	padding: 0; 
	position: relative;

}

.offer-title{
	font-family: 'pappins',sans-serif;
	font-size: 22px;
	line-height: 30px;
	font-weight: 500;
	margin-top: 15px;
}
.offer-description{
	font-family: 'nunito',sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #999;
	margin-top: 10px;
}
.w50-2{
	padding-top: 30px;
}
.w-45{
	width: 45%;
}
.w-55{
	width: 55%;
}
.all-icon{
	width: 30px;
	height: 30px;
}
.all-icons{
	position: absolute;
	top: 5870px;
}
.bg-bottom{
	
	top: -10px;
	width: 1920px;
	height: 934.82px;
	left: 0px;
	
}
.bg.black{
	background-color: #0000;
}
.gt{
	position: absolute;
	top: 5800px;
}
.our-company{
	position: absolute;
	top: 5800px;
	font-family: 'pappins',sans-serif;
 	font-style: normal;
	font-weight: 500;
	font-size: 20px;

	color: #ffff;
	line-height: 30px;
}
.our-descrip{
	font-family: 'pappins',sans-serif;
	font-size: 12px;
	color: #ffff;
	gap: 10px;
	line-height: 25px;
}
.our-lf{
	margin-left: 210px;
}
.go-description{
	font-family: 'pappins',sans-serif;
	font-size: 12px;
	color:#eaeaea;
	line-height: 20px;
	margin-top: 5px;
}
.info{
	margin-left: 370px;
	gap: 30px;
}
.icn{
	width: 20px;
	height: 20px;

}
.collorado{
	line-height: 15px ;
}



